@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
   		
   		body{
   			margin:0;
   		}
   		*{
   			font-family:Sen, courier, arial;
   		}
   		header{
   			background:black;
   			padding:5px;
   			
   		}
   		h1{
   			text-align:center;
   			color:white;
   		}
   		h1 a{
   			text-decoration:none;
   			color:white;
   		}
   		.nav a{
   			text-decoration:none;
   			display:inline-block;
   			color:black;
   			border:2px solid #EEEEEE;
   			padding:5px;
   			margin:5px;
   			border-radius:10px;
   			
   		}
   		.nav{
   			border:2px solid white;
   			padding:10px;
   			text-align:center;
   			background:white;
   			margin:0px 0px;
   			border-radius:10px;
   		}
   		.form{
   			margin:0 auto;
   		}
   		input[type="search"]{
   			display:block;
   			margin:10px auto 0px auto;
   			width:200px;
   			padding:10px;
   			border:10px;
   			border:2px solid #EEEEEE;
   			outline:none;
   		}
   		
   		#mySearch:hover{
   			border:2px dotted red;
   			border-top-style:none;
   			border-left-style:none;
   			border-right-style:none;
   			border-bottom-style: 5ps dotted;
   			border-width:2px;
   			transition:2s;
   		}
   		.form button{
   			display:block;
   			margin:10px auto;
   			width:100px;
   			border:2px solid #EEEEEE;
   			border-radius:10px;
   			outline:none;
   		}
   		.about-covid h2{
   			text-align:center;
   		}
   		.about-covid{
   			display:block;
   			margin:10px 10px;
   			padding:5px;
   			border:2px solid #EEEEEE;
   			border-radius:10px;
   		}
   		.about-covid h2 span{
   			display:block;
   			width:250px;
   			background:black;
   			height:5px;
   			margin:0 auto;
   			border-radius:10px;
   		}
   		.about-covid p{
   			padding:10px;
   			text-align:justify;
   		}
   			.safety-measures h3{
   			text-align:center;
   			}
   			.safety-measures{
   			display:block;
   			margin:10px 10px;
   			padding:5px;
   			border:2px solid #EEEEEE;
   			border-radius:10px;
   		}
   		.safety-measures h3 span{
   			display:block;
   			width:200px;
   			background:black;
   			height:5px;
   			margin:0 auto;
   			border-radius:10px;
   		}
   		.safety-measures p{
   			padding:10px;
   			text-align:justify;
   			}
   			.subscribe{
   				display:block;
   			margin:10px 10px;
   			padding:5px;
   			border:2px solid #EEEEEE;
   			border-radius:10px;
   			}
   			.subscribe h4 span{
   			display:block;
   			width:200px;
   			background:black;
   			height:5px;
   			margin:0 auto;
   			border-radius:10px;
   		}
   		.subscribe h4{
   			text-align:center;
   		}
   		.subscribe p{
   			text-align:center;
   		}
   		.subscribe input[type="email"]{
   			display:block;
   			margin:10px auto 0px auto;
   			width:200px;
   			padding:10px;
   			border:10px;
   			border:2px solid #EEEEEE;
   			outline:none;
   		}
   		.label{
   			display:block;
   			text-align:center;
   		}
   		input[type="checkbox"]{
   			display:block;
   			margin:10px auto 0px auto;
   			width:200px;
   			padding:10px;
   			border:10px;
   			border:2px solid #EEEEEE;
   			outline:none;
   		}
   		.subscribe button{
   			display:block;
   			margin:10px auto;
   			width:80px;
   			height:50px;
   			font-size:20px;
   			border:2px solid #EEEEEE;
   			border-radius:10px;
   			outline:none;
   		}
   		.contact{
   			background:black;
   			color:white;
   			padding:5px;
   		
   		}
   		.contact h3{
   			text-align:center;
   		}
   		.contact h3 span{
   			display:block;
   			width:200px;
   			background:white;
   			margin:0 auto;
   			border-radius:10px;
   			border:2px solid white;
   		}
   		.contact p{
   			text-align:center;
   		}
   		.message{
   			border:2px solid #EEEEEE;
   			margin:10px 10px;
   			padding:10px;
   			border-radius:10px;
   			text-align:center;
   			height:100px;
   		}
   		.message .wishes{
   			float:right;
   			font-size:10px;
   		}
   		.social-links{
   			padding:10px;
   			background:white;
   			margin:10px 10px;
   			border-radius:10px;
   			text-align:center;
   			
   		}
   		.social-links a{
   			display:inline-block;
   			margin:0px 5px;
   		}
   		.sololearn{
   			filter:grayscale(100%);
   		}